.brand {
    font-size:larger;
    margin-left: 3%;
    color: #ffffff;
    text-decoration: none;
}

.form {
    display: flex;
    justify-content: center;
    margin-left: 5%;
}

.brand:hover{
    color: #09de09
}

.nav{
    color: white;
    margin-left: 41%;
}

.button_1{
margin:5px;
}

.button_2{
    margin-left: 73px;
}

.button_search {
    margin-left: 5%;
}

.round{
    margin-left: 20px;
    border-radius: 100px; /* Радиус скругления */
    border: 1px solid #0dcaf0; /* Параметры рамки */
    box-shadow: 0 0 7px white; /* Параметры тени */
    cursor: pointer;
}
.round:hover{
    box-shadow: 0 0 20px white; /* Параметры тени */
}
